#date,
#time {
font-family: 'Roboto', san-serif;
margin: 0px;
text-align: center;
}

#date {
font-size: 17px;
}

#time {
font-size: 50px;
font-weight: 300;
margin-top: 0px;
line-height: 1;
}

#time span {
font-size: 20px;
}